body {
    background-color: #f16059;
    font: 14px / 26px 'Bungee', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    line-height: 48px;
}
